/* Global Layout Set-up */

:root {
  --background: antiquewhite;
  --nav: #55D6BE;
  --layer: linear-gradient(180deg, rgba(85,214,190,0.85) 69%, rgba(1,195,209,0.85) 100%);
  --dashed-border: #E5C3D1;
--billboard-btn-text: white;
  --project-billboard:#55D6BE;
  --billboard-text: white;
--billboard-button-text: white;
  --top-buttons: #55D6BE;
  --resume-button: #55D6BE;
    --resume-btn-text: white;

  --icons: white;
  --logo: white;


}

hover { cursor: pointer; }


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}



body {

      grid-row: 2;
      display: grid;
      grid-template-rows: 100px auto;
      grid-template-areas: "nav" "mainpage";
      font-family: 'Muli', sans-serif;
      min-height: 100vh;
      transition: background-color 2s;
      background-color: var(--background);
    }


.hide {
    display: none;
    }

    .page-setup {
      display: grid;
      min-width: 100vw;
    }

a {
  color:inherit;
}

a:hover {
    text-decoration: none;
    color: #E5C3D1;
      border: white;
}

.btn-primary:hover {
    text-decoration: none;
    background-color: #E5C3D1;
    border: white;
}

.start-btn {
  background-color: #007bff;
  color: white;
}

.loadpage,
#information,
#billboard,
#clean,
.firstword,
#firstpara,
#secondpara,
#video,
#image-CV,
#sitenav {
  transition: 2s;
}


/* ELEMENT */

#information {
  border-radius: 25px;
}

.navbar {
  background: var(--nav);
  border-right: solid lightgrey 2px;
  position: fixed;
  width: 100vw;
  z-index: 900;
}

.nav-item .active {
  background-color: #E5C3D1;
}

.modal-body {
  display: flex;
  flex-direction: column;
 }

 .modal-section {
  flex-direction: row;
}

.projects.btn-primary {
  background-color: var(--proj-button);
}

.projects {
  color: var(--billboard-text);
  background-color: var(--project-billboard);
  border: dashed var(--dashed-border) 3px;
  margin: 10px 10px 15px;
  width: auto;
}

.loadpage {
  position: fixed;
  background-color: rgb(85, 214, 190);
  background-image: url("images/laptops.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

/* FIRST PAGE */

#firstpage.move {
  transform: translateX(-100%);
}



#clean  {
  transition: 3.5s;
}

#clean.move {
  margin-left: -2000px;
  transform: rotate(-1800deg);
}

.layer {
  background-image: var(--layer);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* WELCOME */
.welcomeBtn {
  width: 380px;
  height: 380px;
  position: fixed;
  background-color: var(--top-buttons);
  color: white;
  top: 30%;
  left: 40%;
  z-index: 500;
  border-radius: 50%;
  display: none;
  border: white;
}


#billboard {
  margin-top: 15px;
  background: var(--project-billboard);
  flex-direction: column;
  border: dashed var(--dashed-border) 3px;
}

#information button {
  margin-bottom: 15px;

}
#testimonials h2,
#modal-header h2,
#activity h2 {
  padding-bottom: 25px;
}
#testimonials p,
.modal-content p,
#activity p {
  font-size: 15px;
    }


.modal-body {
  padding-top: 0;
}

.projects-text {
  height: 100px;
  margin-top: 5px;
  justify-content:center;
}

.projectsTitle {
  height: 70px;
}

.modal-footer {
  background-color: white;
}

/* Text */



.intro {
  font-size: 55px;
  color: white;
  font-weight: bolder;
}

.intro-text {
  font-size: 65px;
}

.billboardExample {
  font-weight: 600;
  width: auto;
}

.billboardText {
  text-align: center;
  font-size: 21px;
  color: var(--billboard-text);

}

.billboardBtn {
  font-size: 21px;
  font-weight: bolder;
  margin: 10px auto 15px;
  background: var(--billboard-button);
  border: 1px solid white;
  color: var(--billboard-btn-text);

}

#information {
  margin: auto;
}

.firstword {
  color:   var(--top-buttons);
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


/* Images */

.social-icons {
  width: 25px;
  margin-top: auto;
  margin-right: 15px;
  height: auto;
}

.billboardImage {
  height: 150px;
  margin: auto;
  width: auto;
  object-fit: contain;
}

.experienceImg {
    margin: 0 auto 15px;
    height: 245px;
    width: 100%;
    object-fit: cover;
  }

.feedbackImg {
  border-radius: 50%;
  margin: 0 auto 15px;
  height: 160px;

  width: 100%;
      object-fit: contain;
    }


.profile-picture {
  margin-top: 10px;
  height: 260px;
  width: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: dashed var(--dashed-border) 3px;
}

.logo {
  color: var(--logo);
  font-size: 26px;
}

.techdegree {
      height: auto;
    width: 100%;
    object-fit: contain;
}

#profile {
  position: relative;
}

#profile .btn {
   position: absolute;
   top: 240px;

}

#sitenav {
  grid-area: nav;
}

#mainpage {
  grid-area: mainpage;
}

/*SVGS */

.icon {
  margin-top: 15px;
  height: 100px;
  width: 150px;
  fill: var(--icons);
}

.webdev {
  height: 100px;
  width: 100px;
  fill: white;
}

/*BUTTONS*/

.play-button {
  height: 80px;
  width: 80px;
  filter: brightness(0) invert(1);
  margin-left: 10px;

}

.resume-button {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  filter: brightness(0) invert(1);
}

.video {
  margin: 40px auto;
  width: 150px;
  height: 150px;
  background-color: var(--top-buttons);
  border-radius: 50%;
  border: dashed var(--dashed-border) 3px;
}

.linkbtn {
    display: flex;
  justify-content:space-between;
  align-items: center;
  width: 200px;
  height: 40px;
}

.modalbtn {
  border-color: var(--dashed-button) 5px;
  width: 180px;
  height: 35px;
  margin-bottom: 15px;
  background: var(--proj-button);
}

.resume {
    background-color: var(--resume-button);
    color: var(--resume-btn-text);
    border: lightgrey;
    }


  /* Previous and next Buttons */


  .previous {
    visibility: hidden;
  }

  /* The Close Button */
  .close {
    float: right;
    color: #c8c8c8;
    font-size: 28px;
    font-weight: bold;
  }

  .activity-button {
    transform: translateY(15px);
  }

.previous,
.next {
  color: #c8c8c8;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 150px;
}

.previous {
  float: left;
  margin-right: 5px;
}

.next {
  float: right;
  left: 5px;
}

.previous:hover,
.next:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MEDIA QUERIES */


.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

#image-CV {
  width: 100%;
 margin-bottom: 25px;
}

@media screen and (min-width: 768px) {

  #billboard {
    flex-direction: row;
    margin: 15px auto auto;
  }


  .billboardText {
    text-align: left;
    padding: 0;
    font-size: 28px;
    }

  .billboardBtn {
    margin-left: 0;
  }



  #image-CV {
    height: 295px;
    width: 300px;
  }

  .billboardImage {
    height: 260px;
    width: auto;
  }




  h2 {
    font-size: 28px;
  }



.billboardText {
padding-left: 15px;
padding-right: 15px;
}

.projects-text {
height: 180px;

}

}
@media (min-width: 992px) {
#profile.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 70.666667%;
    max-width: 70.666667%;
    padding-left: 0;
}
}

@media only screen and (min-width: 1024px) {

  .container-fluid {
    padding: 15px;

  }

  .video {
    margin: auto;
  }

  .billboardImage {
    height: 360px;
    width: auto;
  }

  #about {
     padding-top: 15px;
  }

  .logo {
      width: 125px;
  }

  .navbar-expand-lg .navbar-nav,
  .navbar {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 16px
  }

body {
    grid-row: 1;
    grid-template-columns: 160px auto;
    grid-template-areas: "nav mainpage";
  }

#billboardExample {
  margin-left: 25px;
}

.navbar {
  height: 100vh;
  width: auto;
  align-items: flex-start;
}

.navbar-brand {
  margin-top: 2rem;
}

.navbar-collapse {
  margin-top: 3rem;
  flex-grow: 0;
  align-items: flex-start;
}

.logo {
    margin-top: 1rem;

}

.techdegree {
  border-radius: 0px;
  object-fit: cover;
  height: 350px;
  width: 280px;
  }

.modal-dialog {

    max-width: 600px;
}

.tech.modal-dialog {
    max-width: 700px;
}

#test.modal-dialog {
    max-width: 450px;

}

#activity {
  margin-left: 10px;
}

.projects-text {
height: 150px;
  justify-content:center;
}

.projectsTitle {
  height: auto;
}

button.unfixed {
      display: block;
  }

#video.unfixed {
  transform: translate(150px, -300px) scale(2);

  background-color: grey;
}

#firstpara.unfixed {
  margin-top: 40px;
    color:black;
  transform: translate(600px, -600px);
 transform: rotate(120deg);

}

#information.unfixed {
  display: none;
}

#secondpara.unfixed {
transform: translatex(600px);
font-size: 30px
}

body.unfixed  {
  height: 100%;
  overflow: hidden;
  background-color: white;
  }

span.unfixed {
  color: black;
  font-size: 14px;
}

#sitenav.unfixed {
  filter: grayscale(1) brightness(60%);
 transform: scaleX(2);
}

#billboard.unfixed {
  transform: translateY(320px);
}

#image-CV.unfixed{
transform: translate(-100px, -800px);
}

#firstpara,
#secondpara {
  margin-left: 15px;
}

#image-CV {
 margin-bottom: 5px;
}

#billboard {
  margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;
}
}
